absl-py==0.8.0
astor==0.8.0
blis==0.2.4
boto==2.49.0
boto3==1.9.232
botocore==1.12.232
chardet==3.0.4
cycler==0.10.0
cymem==2.0.2
gast==0.3.2
google-pasta==0.1.7
grpcio==1.23.0
h5py==2.10.0
jmespath==0.9.4
Keras==2.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==2.6.11
murmurhash==1.0.2
plac==0.9.6
preshed==2.0.1
s3transfer==0.2.1
smart-open==1.8.4
pymssql==2.1.4
pycountry==19.8.18